<!doc html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/calendar.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">


    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">-->

    <title>Calendar</title>
</head>
<body>

<!-- Modal -->
<div class="modal fade" id="modalEventEditor" tabindex="-1" role="dialog"
     aria-labelledby="modalEventEditorTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <!-- modal content -->
        <div class="modal-content">

            <!-- modal header -->
            <div class="modal-header">
                <h5 class="modal-title">Tournament Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="tournamentdata" class="pl-3 pr-3">
                    <input id="eventid" type="hidden" value="">
                    <div id="tournament-creation-ok" class="alert alert-success" role="alert">
                        Tournament created
                    </div>

                    <div id="tournament-creation-failed" class="alert alert-danger" role="alert">
                        Tournament creation failed
                    </div>

                    <div id="tournament-update-ok" class="alert alert-success" role="alert">
                        Update Ok
                    </div>

                    <div id="tournament-update-failed" class="alert alert-danger" role="alert">
                        Update Failed
                    </div>

                    <div id="tournament-delete-ok" class="alert alert-success" role="alert">
                        Delete Ok
                    </div>

                    <div id="tournament-delete-failed" class="alert alert-danger" role="alert">
                        Delete Failed
                    </div>


                    <div class="form-group">
                        <!--<label for="organizer">Organizer</label>-->
                        <input type="text" name="organizer" class="form-control" id="organizer"
                               placeholder="Organizer" value="">
                    </div>

                    <div class="form-group">
                        <!--<label for="title">Title</label>-->
                        <input type="text" name="title" class="form-control" id="title"
                               placeholder="Title" value="">
                    </div>

                    <div class="form-group">
                        <!--<label for="description">Description</label>-->
                        <textarea class="form-control" placeholder="Description" name="description" id="description"
                                  cols="40"
                                  rows="3" value=""></textarea>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="hidden" id="datetime" name="start" value="">
                    </div>

                    <div class="form-group">
                        <input type="text" id="date" placeholder="Date" class="form-control" value="" readonly>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="time" value="11:00" step="300" class="form-control" id="time">
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="text" name="location" placeholder="Location" class="form-control" id="location"
                               value="">
                    </div>

                    <div class="form-group">
                        <input type="text" name="price" placeholder="Price" class="form-control" id="price" value="">
                    </div>

                    <div class="custom-control custom-checkbox mr-sm-2 form-group">
                        <input type="checkbox" name="masterpoints" value="" class="custom-control-input"
                               id="masterPointCheck">
                        <label class="custom-control-label" for="masterPointCheck">Masterpoint Tournament</label>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" multiple class="custom-file-input" id="upload"
                                   aria-describedby="inputGroupFileAddon01">
                            <label id="filenames" class="custom-file-label" for="upload">Choose file</label>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <input id="createbutton" type="submit" class="btn btn-primary" value="Create">
                <input id="updatebutton" type="submit" class="btn btn-primary" value="Update">
                <input id="clearbutton" type="submit" class="btn btn-primary" value="Clear">
                <input id="deletebutton" type="submit" class="btn btn-danger" value="Delete">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="maincalendar" class="container m-auto p-5">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th colspan="8" class="flex-row justify-content-end">
                <div class="d-flex flex-row bd-highlight justify-content-end">
                    <div id="addEvent" class="p-2 bd-highlight">
                        <button type="button" class="btn btn-primary"><span style="font-size: 1vw">+</span></button>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th style="text-align:  center; background-color: rgba(71,158,255,0.16);" colspan="8">
                <div class="d-flex justify-content-around align-content-center">
                    <div id="month-prev"> &#10094;</div>
                    <div id="calendar-month" class="flex-column align-items-center"><p id="month">March</p>
                        <p id="year">2019</p></div>
                    <div id="month-next"> &#10095;</div>
                </div>
            </th>
        </tr>
        <tr>
            <th scope="col" class="dayheader">Mon</th>
            <th scope="col" class="dayheader">Tue</th>
            <th scope="col" class="dayheader">Wed</th>
            <th scope="col"  class="dayheader">Thu</th>
            <th scope="col"  class="dayheader">Fri</th>
            <th scope="col"  class="dayheader">Sat</th>
            <th scope="col"  class="dayheader">Sun</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="day">1</td>
            <td class="day">2</td>
            <td class="day">3</td>
            <td class="day">4</td>
            <td class="day">5</td>
            <td class="day">6</td>
            <td class="day">7</td>
        </tr>
        <tr>
            <td class="day">1</td>
            <td class="day">2</td>
            <td class="day">3</td>
            <td class="day">4</td>
            <td class="day">5</td>
            <td class="day">6</td>
            <td class="day">7</td>
        </tr>
        <tr>
            <td class="day">1</td>
            <td class="day">2</td>
            <td class="day">3</td>
            <td class="day">4</td>
            <td class="day">5</td>
            <td class="day">6</td>
            <td class="day">7</td>
        </tr>
        <tr>
            <td class="day">1</td>
            <td class="day">2</td>
            <td class="day">3</td>
            <td class="day">4</td>
            <td class="day">5</td>
            <td class="day">6</td>
            <td class="day">7</td>
        </tr>
        <tr>
            <td class="day">1</td>
            <td class="day">2</td>
            <td class="day">3</td>
            <td class="day">4</td>
            <td class="day">5</td>
            <td class="day">6</td>
            <td class="day">7</td>
        </tr>
        <tr>
            <td class="day">1</td>
            <td class="day">2</td>
            <td class="day">3</td>
            <td class="day">4</td>
            <td class="day">5</td>
            <td class="day">6</td>
            <td class="day">7</td>
        </tr>
        </tbody>
    </table>


    <table id="dayEvents" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Start</th>
        </tr>
        </thead>

        <tbody>

        <tr class="eventRow" eventid="">
            <td title=""></td>
            <td start=""></td>
        </tr>
        <tr class="eventRow" eventid="">
            <td title=""></td>
            <td start=""></td>
        </tr>
        <tr class="eventRow" eventid="">
            <td title=""></td>
            <td start=""></td>
        </tr>
        <tr class="eventRow" eventid="">
            <td title=""></td>
            <td start=""></td>
        </tr>
        <tr class="eventRow" eventid="">
            <td title=""></td>
            <td start=""></td>
        </tr>
        </tbody>
    </table>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery/jquery-3.3.1.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- FlatPickr-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script src="js/calendar.js"></script>
</body>
</html>