<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JQuery -->
    <script src="../js/jquery/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap local -->
    <script src="../bootstrap/needed/popper.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <script src="../bootstrap/js/bootstrap.bundle.js"></script>
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"-->
    <!--integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">-->
    <link rel="stylesheet" href="../css/editor.css">
    <!-- custom css -->
    <link rel="stylesheet" href="../css/tournamentcalendar.css">

    <script src="https://unpkg.com/feather-icons"></script>

    <!-- full calendar begins  -->
    <link href="../fullcalendar/fullcalendar.min.css" rel='stylesheet'/>
    <link href='../fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print'/>
    <script src='../fullcalendar/lib/moment.min.js'></script>
    <script src='../fullcalendar/lib/jquery.min.js'></script>
    <script src='../fullcalendar/fullcalendar.min.js'></script>
    <script src='../js/tournamentcalendar.js'></script>
    <script src='../js/editor.js'></script>
    <!-- full calendar ends -->

    <!-- Datetime picker -- flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- Datetime localization -->
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/fi.js"></script>

    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div id="tournamenteditor" class="tournamenteditor">

    <div class="w-auto p-5 m-auto" style="max-width: 700px; min-width: 500px">
        <div class="d-flex justify-content-center">
            <h2>Tournament Editor</h2>
        </div>

        <form id="tournamentdata">

            <div class="form-group">
                <label for="organizer">Organizer</label>
                <input type="text" name="organizer" class="form-control" id="organizer"
                       placeholder="" value="1">
            </div>

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title"
                       placeholder="" value="2">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" placeholder="" name="description" id="description" cols="40"
                          rows="3" value="3"></textarea>
            </div>

            <div class="form-group">
                <label for="start">Start</label>
                <input class="form-control flatpickr flatpickr-input" name="start" type="text" placeholder="" id="start"
                       data-id="datetime" readonly="readonly" value="">
            </div>

            <div class="form-group">
                <label for="location">Location</label>
                <!--<input type="text" class="form-control" id="description" placeholder="Description">-->
                <input type="text" name="location" class="form-control" id="location" value="5">
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <!--<input type="text" class="form-control" id="description" placeholder="Description">-->
                <input type="text" name="price" class="form-control" id="price" value="6">
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="masterPointCheck" value="7">
                <label class="form-check-label" name="masterpoints" for="masterPointCheck">Master point
                    tournament</label>
            </div>

            <input id="createbutton" type="submit" class="btn btn-primary" value="Create">
            <input id="updatebutton" type="submit" class="btn btn-primary" value="Update">
            <input id="deletebutton" type="submit" class="btn btn-primary" value="Delete">
            <input id="closebutton" type="button" class="btn btn-primary" value="Close">
        </form>
    </div>
</div>


<!-- main menu -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bridge Federation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/tournamenteditor/">Dashboard<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tournamentcreation">Tournaments</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Players</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">News</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Master points</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Deals</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search">
        </form>
    </div>
</nav>


<!-- calendar -->
<div class="w-75 p-5 m-auto">
    <div class="d-flex justify-content-center p-5">
        <h1>Tournaments</h1>
    </div>
    <div class="d-flex justify-content-center">
        <div style="max-width: 1000px; min-width: 600px;" id='calendar'>
        </div>
    </div>
</div>
<!--
<form>
    <div><input type="text" name="a" value="1" id="a"></div>
    <div><input type="text" name="b" value="2" id="b"></div>
    <div><input type="hidden" name="c" value="3" id="c"></div>
    <div>
        <textarea name="d" rows="8" cols="40">4</textarea>
    </div>
    <div><select name="e">
        <option value="5" selected="selected">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
    </select></div>
    <div>
        <input type="checkbox" name="f" value="8" id="f">
    </div>
    <div>
        <input type="submit" name="g" value="Submit" id="g">
    </div>
</form>
-->
<!--<script>-->
<!---->
    <!--$( "form" ).submit(function( event ) {-->
        <!--console.log( $( this ).serializeArray() );-->
        <!--event.preventDefault();-->
    <!--});-->
<!---->
<!--// </script>-->


</body>
</html>